<apex:component >
    <c:BaseStyles />
    <script language="javaScript">
        // global variables
        var selAppt;
        var selApptWrappers;
        var timeValues;
        var durationValues;
        var productGroups;
        var regions;
        var prodGrpMap;
        var subTypes;
        var statuses;
        var resultReasons;
        var apptTypes;
        var teamMembers;
        var nextOppStages;
        var requestedTeamCmp;
        var addlUserCmp;
        var accountCmp;
        var leadCmp;
        var jobCmp;

        $j = $.noConflict();
            
        // Cancel out of scheduling detail window - just change backdrop and close dialog box
        $j(document).on('click','#detailsCancelBtn',function(e){
            // remove fading from behind modal                    
            $j('#idBackdrop').toggleClass("slds-backdrop--open");
            $j('#idDetailsModal').hide();
        });

        function initialize(timeValuesJSON, durationValuesJSON, productGroupsJSON, regionsJSON, 
                prodGrpMapJSON, subTypesJSON, statusesJSON, selApptWrappersJSON, resultReasonsJSON,
                apptTypesJSON, selApptType, selProdGrp, selRegion, teamMembersJSON, nextOppStagesJSON) {

            $j('#datePicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose : true
            });

            // get map of time values keyed off time period
            timeValues = $j.parseJSON(timeValuesJSON);

            // get map of duration values keyed off time period
            durationValues = $j.parseJSON(durationValuesJSON);

            // get list of product groups
            productGroups = $j.parseJSON(productGroupsJSON);

            // get list of regions
            regions = $j.parseJSON(regionsJSON);
            
            prodGrpMap = $j.parseJSON(prodGrpMapJSON);
            
            subTypes = $j.parseJSON(subTypesJSON);

            statuses = $j.parseJSON(statusesJSON);

            selApptWrappers = $j.parseJSON(selApptWrappersJSON);

            resultReasons = $j.parseJSON(resultReasonsJSON);

            apptTypes = $j.parseJSON(apptTypesJSON);

            teamMembers = $j.parseJSON(teamMembersJSON);

            nextOppStages = $j.parseJSON(nextOppStagesJSON);

            // hide our dialog box
            $j('#idDetailsModal').hide();
            Visualforce.remoting.timeout = 120000; // Set timeout at page level

            // register Handlebar helper methods
            regHandlers();

            // display Product Groups and Regions select components
            var source = $j("#idFiltersTemplate").html();
            var template = Handlebars.compile(source);

            var templateData = {"productGroups" : productGroups,
                "regions" : regions, "selProdGrp" : selProdGrp,
                "selRegion" : selRegion,
                "apptTypes" : apptTypes,
                "selApptType" : selApptType};
            var result_html = template(templateData);
            $j('#idFilterFormDiv').html(result_html);

            $j("[data-toggle='tooltip']").tooltip();
        }
        
        function regHandlers() {
            Handlebars.registerHelper('isSelectedValue', function(value, selValue, options) {
                if (value == selValue) {
                    return options.fn(this);
                } else {
                    return null;
                }
            });

            Handlebars.registerHelper('isNotSelectedValue', function(value, selValue, options) {
                if (value == selValue) {
                    return null;
                }
                return options.fn(this);
            });


            Handlebars.registerHelper('isIncluded', function(value, selValue, options) {
                if (value.indexOf(selValue) > -1) {
                    return options.fn(this);
                } else {
                    return null;
                }
            });

            Handlebars.registerHelper('isNotIncluded', function(value, selValue, options) {
                if (value.indexOf(selValue) > -1) {
                    return null;
                }
                return options.fn(this);
            });

            Handlebars.registerHelper('isChecked', function(value, options) {
                if (value == true) {
                    return options.fn(this);
                } else {
                    return null;
                }
            });

            Handlebars.registerHelper('isNotChecked', function(value, options) {
                if (value == false) {
                    return options.fn(this);
                }
                return null;
            });

            Handlebars.registerHelper('ifNotAll', function(value, options) {
                if (value == 'All') {
                    return null;
                } else {
                    return options.fn(this);
                }
            });

            Handlebars.registerHelper('isSales', function(value, options) {
                if (value == 'Sales') {
                    return options.fn(this);
                } else {
                    return null;
                }
            });

            Handlebars.registerHelper('isOperations', function(value, options) {
                if (value == 'Operations') {
                    return options.fn(this);
                } else {
                    return null;
                }
            });
        }

       // re-populate our table of appointment slots based on date selection
        function changeDate(action, apptFilters) {
            console.log('New Start Date = ' + apptFilters.startDate);

            swal({
                title: "Getting Appointments",   
                text: "Please Wait..",   
                showLoaderOnConfirm:true,   
            });

            // This remoting call will use the page's timeout value
            
            Visualforce.remoting.Manager.invokeAction(
                action,
                JSON.stringify(apptFilters), 
                JSON.stringify(selApptWrappers),
                function (result, event) { 
                    swal.close();
                    if (event.status) {
                        if (result.isSuccess) {
                            var url = result.details.replace(/amp;/gi, '');
                            window.location.href = url;
                            return; 
                        }
                        // otherwise display error messages to user
                        swal({ 
                            title: "Error!",   
                            text: 'Request to server failed. Details : ' + result.details,   
                            type: "error"});
                        console.log('Error getting appointment : ' + result.details);
                    } else {
                        console.log(event);
                        swal({ 
                            title: "Error!",   
                            text: event.message,   
                            type: "error"});
                    }
                }
            );

        }

        function applyFilters(action, apptFilters) {
            // display a box telling user to hold on while we apply filters
            swal({
                title: "Applying Selected Filters",   
                text: "Please Wait..",   
                showLoaderOnConfirm:true,   
            });

            // This remoting call will use the page's timeout value
            Visualforce.remoting.Manager.invokeAction(
                action,
                JSON.stringify(apptFilters), JSON.stringify(selApptWrappers),
                function (result, event) { 
                    if (event.status) {
                        if (result.isSuccess) {
                            swal.close();
                            console.log('New Url = ' + result.details);
                            var url = result.details.replace(/amp;/gi, '');
                            window.location.href = url;
                            return; 
                        }
                        // otherwise display error messages to user
                        swal({ 
                            title: "Error!",   
                            text: 'Request to server failed. Details : ' + result.details,   
                            type: "error"});
                        console.log('Error applying filters : ' + result.details);
                    } else {
                        console.log(event);
                        swal({ 
                            title: "Error!",   
                            text: event.message,   
                            type: "error"});
                    }
                }
            );
        }

        // called when the user selects an available slot to set/confirm/staff an appointment.
        function selectAppt(selAppt, requestedTeamId, requestedTeamName, templateData) {
            console.log('apptSlot Id = ' + selAppt.id);
            console.log('startTime = ' + selAppt.startTime);
            console.log('selDate = ' + selAppt.selDate);
            console.log('residenceId = ' + selAppt.residenceId);
            console.log('requestedStatus = ' + selAppt.requestedStatus);
            console.log('buffer = ' + selAppt.buffer);
            // Compile template
            var source = $j("#idModalTemplate").html();
            var template = Handlebars.compile(source);

            // now populate modal with all our data
            var result_html;
            result_html = template(templateData);
            
            $j('#detailsModalDiv').html(result_html);
            // Now create our lookup component for team within the modal before rendering it

             $Lightning.use("c:autoCompleteLookup", function() {
                // now actually create the lightning component 
                $Lightning.createComponent("c:autoComplete",
                {"clientServer" : "server",
                "startsWith" : "true",
                "objectName" : "Team__c",
                "searchField" : "Name",
                "lookupVal" : selAppt.requestedTeam != null ? selAppt.requestedTeam : requestedTeamId,
                "lookupLabel" : selAppt.requestedTeamName != null ? selAppt.requestedTeamName : requestedTeamName},
                "idRequestedTeam",
                function(component){
                    requestedTeamCmp = component; 
                });
            });  

            // Now create our lookup component for additional user within the modal before rendering it
            $Lightning.use("c:autoCompleteLookup", function() {
                // now actually create the lightning component 
                $Lightning.createComponent("c:autoComplete",
                {"clientServer" : "server",
                "startsWith" : "true",
                "objectName" : "User",
                "searchField" : "Name",
                "lookupVal" : selAppt.addlTeam != null ? selAppt.addlTeam : null,
                "lookupLabel" : selAppt.addlTeamName != null ? selAppt.addlTeamName : null},
                "idAddlUser",
                function(component){
                    addlUserCmp = component; 
                });
            });  

            // if this is for a new appointment with no account or lead association, do not add
            // lookup components
            if (selAppt.residenceId == null) {
                // Now render our lookup component for Account or Lead in modal before rendering it
                $Lightning.use("c:autoCompleteLookup", function() {
                    // now actually create the lightning component 
                    $Lightning.createComponent("c:autoComplete",
                    {"clientServer" : "server",
                    "startsWith" : "true",
                    "objectName" : "Account",
                    "searchField" : "Name"},
                    "idAccount",
                    function(component){
                        accountCmp = component; 
                    });
                });  

                if (selAppt.type == 'Sales') {
                    $Lightning.use("c:autoCompleteLookup", function() {
                        // now actually create the lightning component 
                        $Lightning.createComponent("c:autoComplete",
                        {"clientServer" : "server",
                        "startsWith" : "true",
                        "objectName" : "Lead",
                        "searchField" : "Name"},
                        "idLead",
                        function(component){
                            leadCmp = component; 
                        });
                    });                    
                } else {
                    // Job Lightning component for Operations Page
                    $Lightning.use("c:autoCompleteLookup", function() {
                        // now actually create the lightning component 
                        $Lightning.createComponent("c:autoComplete",
                        {"clientServer" : "server",
                        "startsWith" : "true",
                        "objectName" : "Job__c",
                        "searchField" : "Name"},
                        "idJob",
                        function(component){
                            jobCmp = component; 
                        });
                    });
                }
            }


            $j('#idRescheduledDatePicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose : true
            });

            $j('#idNextDueDatePicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose : true
            });


            $j('#idDetailsModal').show();
            $j('#idTeamMembers').chosen({ width: "400px" });

            // hide our Lead & Job lookup for now
            $j('#idLead').hide();
            $j('#idJob').hide();
        }

        function saveSelection(action, apptFilters) {
            $j('#idDetailsModal').hide();
            selAppt.notes = $j('#idNotesArea').val();
            selAppt.duration = $j('#idDuration').val();
            selAppt.startTime = $j('#idTime').val();
            selAppt.region = $j('#idRegion').val();
            selAppt.productGroup = $j('#idProductGroup').val();
            selAppt.subType = $j('#idSubType').val();
            selAppt.requestedStatus = ($j('#idStatus').val() == null || $j('#idStatus').val() == undefined) ? 'Set' : $j('#idStatus').val();
            selAppt.buffer = $j('#idBuffer').val();
            selAppt.resultReason = $j('#idResultReason').val();
            selAppt.isBeingRescheduled = $j('#idRescheduling').prop('checked');
            selAppt.rescheduledDate = $j('#idRescheduledDate').val();
            selAppt.rescheduledTime = $j('#idRescheduledTime').val();
            selAppt.rescheduledStatus = $j('#idRescheduledStatus').val();
            selAppt.isOneLegger = $j('#idOneLegger').prop('checked');
            selAppt.numPeople = $j('#idNumPeople').val();
            selAppt.needToBeHome = $j('#idNeedToBeHome').prop('checked');
            selAppt.teamMembers = $j('#idTeamMembers').chosen().val();
            selAppt.nextDueDate = $j('#idNextDueDate').val();
            selAppt.nextOppStage = $j('#idNextOppStage').val();

            console.log('======addlUserCmp = '  + addlUserCmp.get("v.lookupVal") + 
                ', requestedTeamCmp = ' + requestedTeamCmp.get("v.lookupVal") +
                ', requestedStatus = ' + selAppt.requestedStatus +
                ', buffer = ' + selAppt.buffer + 
                ', residenceId = ' +  selAppt.residenceId + 
                ', isRescheduled = ' + selAppt.isBeingRescheduled + 
                ', isOneLegger = ' + selAppt.isOneLegger + 
                ', rescheduledDate = ' + selAppt.rescheduledDate + 
                ', rescheduledTime = ' + selAppt.rescheduledTime + 
                ', rescheduledStatus = ' + selAppt.rescheduledStatus);

            // get the values from our Lightning Lookup component
            selAppt.requestedTeam = requestedTeamCmp.get("v.lookupVal");
            
            // now get additional rep if one was specified.
            selAppt.addlTeam = addlUserCmp.get("v.lookupVal");
            
            console.log('time = ' + selAppt.startTime + ', duration = ' + 
                selAppt.duration + ', notes = ' + selAppt.notes + ', region = ' +
                selAppt.region + ', productGroup = ' + selAppt.productGroup + 
                ', abbreviated ProductGroup = ' + prodGrpMap[selAppt.productGroup] +
                ', subType = ' + selAppt.subType );

            // remove fading from behind modal  
            $j('#idBackdrop').toggleClass("slds-backdrop--open");
            // display a box telling user to hold on while we select the appointment
            swal({
                title: "Selecting the appointment",   
                text: "Please Wait..",   
                showLoaderOnConfirm:true,   
            });

            // This remoting call will use the page's timeout value
            Visualforce.remoting.Manager.invokeAction(
                action, JSON.stringify(selApptWrappers), 
                JSON.stringify(selAppt), 
                JSON.stringify(apptFilters),
                function (result, event) { 
                    if (event.status) {
                        if (result.isSuccess) {
                            console.log('New Url = ' + result.details);
                            var url = result.details.replace(/amp;/gi, '');
                            window.location.href = url;
                            return; 
                        }

                        // otherwise display error messages to user
                        swal({ 
                            title: "Error!",   
                            text: 'Request to server failed. Details : ' + result.details,   
                            type: "error"
                        });
                        console.log('Error selecting appointment : ' + result.details);
                    } else {
                        console.log(event);
                        swal({ 
                            title: "Error!",   
                            text: event.message,   
                            type: "error"
                        });
                    }
                }
            );
        }

        function updateAppts(displayAction, action, filters) {
            // display a box telling user to hold on while we update appointments in backend
            swal({
                title: displayAction + " appointments",   
                text: "Please Wait..",   
                showLoaderOnConfirm:true,   
            });

            // This remoting call will use the page's timeout value
            Visualforce.remoting.Manager.invokeAction(
                action,
                JSON.stringify(filters), JSON.stringify(selApptWrappers), 
                function (result, event) { 
                    if (event.status) {
                        if (result.isSuccess) {
                            swal.close();
                            console.log('New Url = ' + result.details);
                            var url = result.details.replace(/amp;/gi, '');
                            window.location.href = url;
                            return; 
                        }
                        // otherwise display error messages to user
                        swal({ 
                            title: "Error!",   
                            text: 'Request to server failed. Details : ' + result.details,   
                            type: "error"});
                        console.log('Error " + displayAction + " appointments : ' + result.details);
                    } else {
                        console.log(event);
                        swal({ 
                            title: "Error!",   
                            text: event.message,   
                            type: "error"
                        });
                    }
                }
            );
        }
    </script>

    <!--HANDLEBARS TEMPLATE FOR APPOINTMENT FILTERS -->
    <script id="idFiltersTemplate" type="text/x-handlebars-template">
        <div class="slds">
            <div class="slds-grid">
                <div class="slds-col slds-max-medium-1-of-1 slds-container--left">
                    <form class="slds-form--inline">
                        <fieldset class="slds-form-element slds-form--compound">
                        <legend class="slds-form-element__label"></legend>
                            <div class="form-element__group">
                                <div class="slds-form-element__row">
                                    <label class="slds-form-element__control">
                                        <span class="slds-form-element__helper">Product Group</span>
                                        <select class="slds-select" name="prodGrpFilter" id="idProdGrpFilter">
                                            {{#each productGroups}}
                                                {{#isSelectedValue this.value ../selProdGrp}}
                                                    <option value="{{this.value}}" selected 
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isSelectedValue}}

                                                {{#isNotSelectedValue this.value ../selProdGrp}}
                                                    <option value="{{this.value}}"  
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isNotSelectedValue}}
                                            {{/each}}
                                        </select>
                                    </label>
                                    <label class="slds-form-element__control">
                                        <span class="slds-form-element__helper">Region</span>
                                        <select class="slds-select" name="regionFilter" id="idRegionFilter">
                                            {{#each regions}}
                                                {{#isSelectedValue this.value ../selRegion}}
                                                    <option value="{{this.value}}" selected 
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isSelectedValue}}

                                                {{#isNotSelectedValue this.value ../selRegion}}
                                                    <option value="{{this.value}}"  
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isNotSelectedValue}}
                                            {{/each}}
                                        </select>
                                    </label>
                                    {{#if apptTypes}}
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Appointment Type</span>
                                            <select class="slds-select" name="apptTypeFilter" id="idApptTypeFilter">
                                                {{#each apptTypes}}
                                                    {{#isSelectedValue this.value ../../selApptType}}
                                                        <option value="{{this.value}}" selected 
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isSelectedValue}}

                                                    {{#isNotSelectedValue this.value ../../selApptType}}
                                                        <option value="{{this.value}}"  
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isNotSelectedValue}}
                                                {{/each}}
                                            </select>
                                        </label>
                                    {{/if}}
                                    <div class="slds-p-top--medium slds-form-element__control">
                                        <button type="button" 
                                            class="slds-button slds-button--neutral" 
                                             id="idProdGrpFilterBtn">Apply Filters
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <!-- Modal dialog box to collect details about selected Appointment Slot -->
    <script id="idModalTemplate" type="text/x-handlebars-template">
    <div class="slds">
        <div id="idDetailsModal" role="dialog" 
                class="slds-modal slds-fade-in-open slds-modal--large" 
                aria-labelledby="detailsModalLabel">
            <div class="slds-modal__container">
                <div class="slds-modal__header">
                    <h2 class="slds-text-heading--medium slds-text-align--center">
                        {{#if appt.isAvailable}}
                            Appointment Details
                        {{else}}
                            <a href="/{{appt.id}}" target="_blank">Appointment Details</a>
                        {{/if}}
                    </h2>
                    <br/>
                    <div class="slds-grid slds-grid--align-center">
                        <div class="slds-col slds-col--padded slds-max-small-1-of-2">
                        {{#if appt.residentName}}
                            <h4 class="slds-text-heading--small">
                                {{#if appt.residenceId}}
                                    <a href="/{{appt.residenceId}}" target="_blank">{{appt.residentName}}</a>
                                {{else}}
                                    {{appt.residentName}}
                                {{/if}}
                            </h4>
                            {{/if}}
                        {{#if appt.phone}}
                            <h4 class="slds-text-heading--small">{{appt.phone}}</h4>
                        {{/if}}
                        </div>
                        <div class="slds-col slds-col--padded slds-max-small-1-of-2">
                            {{#if appt.street}}
                                <h4 class="slds-text-heading--small">{{appt.street}}</h4>
                            {{/if}}
                            {{#if appt.city}}
                                <h4 class="slds-text-heading--small">{{appt.city}},&nbsp;{{appt.state}}&nbsp;{{appt.postalCode}}</h4>
                            {{/if}}
                            {{#if appt.regionName}}
                                <h4 class="slds-text-heading--small">{{appt.regionName}}</h4>
                            {{/if}}
                        </div>
                    </div>
                </div> 
                <div class="slds-modal__content">
                <div class="slds-grid">
                    <div class="slds-col slds-size--3-of-4">
                        <form class="slds-form--inline">
                            <fieldset class="slds-form--compound">
                                <legend class="slds-form-element__label">Timing and Location</legend>
                                <div class="form-element__group">
                                    <div class="slds-form-element__row">
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Start Time</span>
                                            <select class="slds-select" name="time" id="idTime">
                                                {{#each timeValues}}
                                                    {{#isSelectedValue this.value ../appt.startTime}}
                                                        <option value="{{this.value}}" selected 
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isSelectedValue}}

                                                    {{#isNotSelectedValue this.value ../appt.startTime}}
                                                        <option value="{{this.value}}"  
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isNotSelectedValue}}
                                                {{/each}}
                                            </select>
                                        </label>
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Duration</span>
                                            <select class="slds-select" name="duration" id="idDuration">
                                                {{#each durationValues}}
                                                    {{#isSelectedValue this.value ../appt.duration}}
                                                        <option value="{{this.value}}" selected 
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isSelectedValue}}

                                                    {{#isNotSelectedValue this.value ../appt.duration}}
                                                        <option value="{{this.value}}"  
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isNotSelectedValue}}
                                                {{/each}}
                                            </select>
                                        </label>
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">
                                            Travel Buffer
                                            </span>
                                            {{#if bufferIsEditable}}
                                                <input type="number" min="0" class="slds-input"
                                                    name="buffer" id="idBuffer" value="{{appt.buffer}}"/>
                                            {{else}}
                                                <input type="number" class="slds-input" 
                                                    name="buffer" id="idBuffer" readonly="readonly"
                                                    value="{{appt.buffer}}"/>
                                            {{/if}}
                                        </label>
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Region</span>
                                            <select class="slds-select" name="region" id="idRegion">
                                            {{#each regions}}
                                                {{#ifNotAll this.value}}
                                                    {{#if ../../appt.region}}
                                                        {{#isSelectedValue this.value ../../../appt.region}}
                                                            <option value="{{this.value}}" selected 
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isSelectedValue}}
                                                        {{#isNotSelectedValue this.value ../../../appt.region}}
                                                            <option value="{{this.value}}"  
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isNotSelectedValue}}
                                                    {{else}}
                                                        {{#isSelectedValue this.value ../../../selRegion}}
                                                            <option value="{{this.value}}" selected 
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isSelectedValue}}
                                                        {{#isNotSelectedValue this.value ../../../selRegion}}
                                                            <option value="{{this.value}}"  
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isNotSelectedValue}}
                                                    {{/if}}
                                                {{/ifNotAll}}
                                            {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div> 
                            </fieldset>
                            <fieldset class="slds-form--compound">
                                <legend class="slds-form-element__label">Appointment Information</legend>
                                <div class="form-element__group">
                                    <div class="slds-form-element__row">
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Product Group</span>
                                            <select class="slds-select" name="productGroup" id="idProductGroup">
                                            {{#each productGroups}}
                                                {{#ifNotAll this.value}}
                                                    {{#if ../../appt.productGroup}}
                                                        {{#isSelectedValue this.value ../../../appt.productGroup}}
                                                            <option value="{{this.value}}" selected 
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isSelectedValue}}
                                                        {{#isNotSelectedValue this.value ../../../appt.productGroup}}
                                                            <option value="{{this.value}}"  
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isNotSelectedValue}}
                                                    {{else}}
                                                        {{#isSelectedValue this.value ../../../selProdGrp}}
                                                            <option value="{{this.value}}" selected 
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isSelectedValue}}
                                                        {{#isNotSelectedValue this.value ../../../selProdGrp}}
                                                            <option value="{{this.value}}"  
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isNotSelectedValue}}
                                                    {{/if}}
                                                {{/ifNotAll}}
                                            {{/each}}
                                            </select>
                                        </label>
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Sub Type</span>
                                            <select class="slds-select" name="subType" id="idSubType">
                                            {{#each subTypes}}
                                                {{#isSelectedValue this.value ../appt.subType}}
                                                    <option value="{{this.value}}" selected 
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isSelectedValue}}
                                                {{#isNotSelectedValue this.value ../appt.subType}}
                                                    <option value="{{this.value}}"  
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isNotSelectedValue}}   
                                             {{/each}}                                 
                                            </select>
                                        </label>
                                        {{#isSales appt.type}}
                                            <label class="slds-form-element__control">
                                                <span class="slds-form-element__helper">One Legger</span>
                                                <label class="slds-checkbox" for="idOneLegger">
                                                    {{#isChecked appt.isOneLegger}}
                                                        <input name="oneLegger" type="checkbox" id="idOneLegger" checked/>
                                                    {{/isChecked}}
                                                    {{#isNotChecked appt.isOneLegger}}
                                                        <input name="oneLegger" type="checkbox" 
                                                            id="idOneLegger"/>
                                                    {{/isNotChecked}}
                                                    <span class="slds-checkbox--faux"/>
                                                </label>
                                            </label>
                                        {{/isSales}}
                                        {{#isOperations appt.type}}
                                            <label class="slds-form-element__control">
                                                <span class="slds-form-element__helper">Needs to be Home</span>
                                                <label class="slds-checkbox" for="idNeedToBeHome">
                                                    {{#isChecked appt.needToBeHome}}
                                                        <input name="needToBeHome" type="checkbox" 
                                                            id="idNeedToBeHome" checked/>
                                                    {{/isChecked}}
                                                    {{#isNotChecked appt.needToBeHome}}
                                                        <input name="needToBeHome" type="checkbox" 
                                                            id="idNeedToBeHome"/>
                                                    {{/isNotChecked}}
                                                    <span class="slds-checkbox--faux"></span>
                                                </label>
                                            </label>
                                        {{/isOperations}}
                                    </div>
                                </div>
                            </fieldset> 
                            <fieldset class="slds-form--compound">
                                <legend class="slds-form-element__label">Resources</legend>
                                <div class="form-element__group">
                                    <div class="slds-form-element__row">
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Requested Team</span>
                                            <div id="idRequestedTeam"/>
                                        </label>
                                        <label class="slds-form-element__control">
                                            <span class="slds-form-element__helper">Additional Consultant/User</span>
                                            <div id="idAddlUser"/>
                                        </label>
                                        {{#isOperations appt.type}}
                                            <label class="slds-form-element__control">
                                                <span class="slds-form-element__helper"># Team Members Required
                                                </span>
                                                <input type="number" min="1"
                                                    class="slds-input"
                                                    name="numPeople" value="{{appt.numPeople}}" 
                                                    id="idNumPeople"/>
                                            </label>
                                            <label class="slds-form-element__control">
                                                <span class="slds-form-element__helper">Team Members</span>
                                                <div class="slds-select_container">
                                                    <select class="slds-select" 
                                                            name="teamMemberSelect" id="idTeamMembers"
                                                            data-placeholder="Select..." multiple="true">
                                                        {{#each teamMembers}}
                                                            {{#isIncluded ../../appt.teamMembers this.value}}
                                                                <option value="{{this.value}}" 
                                                                    class="slds-picklist optionCls" 
                                                                        id="{{this.value}}" selected>
                                                                    {{this.label}}
                                                                </option>
                                                            {{/isIncluded}}
                                                            {{#isNotIncluded ../../appt.teamMembers this.value}}
                                                                <option value="{{this.value}}" 
                                                                    class="slds-picklist optionCls" 
                                                                        id="{{this.value}}">
                                                                    {{this.label}}
                                                                </option>
                                                            {{/isNotIncluded}}
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </label>
                                        {{/isOperations}}
                                    </div>
                                </div>
                            </fieldset>   
                            <fieldset class="slds-form--compound">
                                <legend class="slds-form-element__label">Miscellaneous</legend>
                                <div class="form-element__group">
                                    <div class="slds-form-element__row">
                                        {{#if appt.residenceId}}
                                            <label class="slds-form-element__control">
                                                <span class="slds-form-element__helper">Notes</span>
                                                    <textarea class="slds-textarea" cols="75" rows="2" 
                                                        id="idNotesArea"/>
                                            </label>
                                        {{else}}
                                            <fieldset class="slds-form-element">
                                                <legend class="slds-form-element__label slds-form-element__label--top"/>
                                                <div class="slds-form-element__control">
                                                    <label class="slds-radio" for="idAccountRadio">
                                                        <input class="slds-radio"  type="radio" name="residence" 
                                                            value="account" checked id="idAccountRadio" />
                                                        <span class="slds-radio--faux"></span>
                                                        <span class="slds-form-element__label">Account</span>
                                                    </label>
                                                    {{#isSales appt.type}}
                                                        <label class="slds-radio" for="idLeadRadio">
                                                            <input class="slds-radio"  type="radio" 
                                                                name="residence" 
                                                                value="lead" id="idLeadRadio" />
                                                            <span class="slds-radio--faux"></span>
                                                            <span class="slds-form-element__label">Lead</span>
                                                        </label>
                                                    {{/isSales}}
                                                    {{#isOperations appt.type}}                      
                                                        <label class="slds-radio" for="idJobRadio">
                                                            <input class="slds-radio"  type="radio" 
                                                                name="residence" 
                                                                value="job" id="idJobRadio"/>
                                                            <span class="slds-radio--faux"></span>
                                                            <span class="slds-form-element__label">Job</span>
                                                        </label>
                                                    {{/isOperations}}
                                                </div>
                                            </fieldset>
                                            <label class="slds-form-element__control">
                                                <div id="idAccount"/>
                                                {{#isSales appt.type}}
                                                    <div id="idLead"/>
                                                {{/isSales}}
                                                {{#isOperations appt.type}}                      
                                                    <div id="idJob"/>
                                                {{/isOperations}}
                                            </label>
                                            <label class="slds-form-element__control">
                                                <span class="slds-form-element__helper">Notes</span>
                                                    <textarea class="slds-textarea" cols="75" rows="2" 
                                                        id="idNotesArea"/>
                                            </label>
                                        {{/if}}
                                    </div>
                                </div>
                            </fieldset>   
                        </form>
                    </div>
                    <div class="sld-col slds-size--1-of-4">
                        {{#if statuses}}
                            <form class="slds-form--stacked">
                                <div class="slds-form-element">
                                    <label class="slds-checkbox" for="idRescheduling">
                                        <span class="slds-form-element__helper">Rescheduling Appointment</span>
                                        <input name="checkbox" type="checkbox" id="idRescheduling"/>
                                        <span class="slds-checkbox--faux"></span>
                                    </label>
                                </div>
                                <span class="slds-form-element__label">Details</span>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">New Date</label>
                                        <div class="input-group date" id="idRescheduledDatePicker">          
                                        <input type="text" class="slds-input" 
                                            name="newDate" id="idRescheduledDate"
                                            value="{{ourDay}}"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">New Start Time</label>
                                        <select class="slds-select" name="time" id="idRescheduledTime">
                                            {{#each timeValues}}
                                                {{#isSelectedValue this.value ../appt.startTime}}
                                                    <option value="{{this.value}}" selected 
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isSelectedValue}}

                                                {{#isNotSelectedValue this.value ../appt.startTime}}
                                                    <option value="{{this.value}}"  
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isNotSelectedValue}}
                                            {{/each}}
                                        </select>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">Rescheduled Action</label>
                                    <select class="slds-select" name="status" id="idRescheduledStatus">
                                        {{#each statuses}}
                                            {{#isSelectedValue this.value ../appt.requestedStatus}}
                                                <option value="{{this.value}}" selected 
                                                    class="slds-picklist">{{this.label}}
                                                </option>
                                            {{/isSelectedValue}}
                                            {{#isNotSelectedValue this.value ../appt.requestedStatus}}
                                                <option value="{{this.value}}"  
                                                    class="slds-picklist">{{this.label}}
                                                </option>
                                            {{/isNotSelectedValue}}   
                                        {{/each}}                                 
                                    </select>
                                </div>
                            </form>
                        {{/if}}
                    </div>
                </div> 
                </div> 
                <div class="slds-modal__footer">
                    <form class="slds-form--inline">
                        <fieldset class="slds-form--compound">
                            <legend class="slds-form-element__label"/>
                            <div class="form-element__group">
                                <div class="slds-form-element__row">
                                    {{#if isConfirmation}}
                                        <label class="slds-form-element__control col-sm-3  slds-text-align--left">
                                            <span class="slds-form-element__helper">
                                                    Next Due Date</span>
                                            <div class="input-group date" 
                                                    id="idNextDueDatePicker">         
                                                <input type="text" class="form-control" 
                                                    name="newDate" id="idNextDueDate"
                                                    value="{{appt.nextDueDate}}"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </label>
                                    {{/if}}
                                    {{#if nextOppStages}}
                                        <label class="slds-form-element__control col-sm-3 slds-text-align--left">
                                            <span class="slds-form-element__helper">Opportunity Stage</span>
                                            <select class="slds-select" name="stage" id="idNextOppStage">
                                            {{#each nextOppStages}}
                                                {{#isSelectedValue this.value ../appt.nextOppStage}}
                                                    <option value="{{this.value}}" selected 
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isSelectedValue}}
                                                {{#isNotSelectedValue this.value ../appt.nextOppStage}}
                                                    <option value="{{this.value}}"  
                                                        class="slds-picklist">{{this.label}}
                                                    </option>
                                                {{/isNotSelectedValue}}   
                                            {{/each}}                                 
                                            </select>
                                        </label>
                                    {{/if}}
                                    {{#if resultReasons}}
                                        <label class="slds-form-element__control col-sm-3 slds-text-align--left">
                                            <span class="slds-form-element__helper">Result Reason</span>
                                            <select class="slds-select" name="resultReason" 
                                                id="idResultReason">
                                                {{#each resultReasons}}
                                                    {{#ifNotAll this.value}}
                                                    {{#isSelectedValue this.value ../../appt.resultReason}}
                                                        <option value="{{this.value}}" selected 
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isSelectedValue}}
                                                    {{#isNotSelectedValue this.value ../../resultReason}}
                                                        <option value="{{this.value}}"  
                                                            class="slds-picklist">{{this.label}}
                                                        </option>
                                                    {{/isNotSelectedValue}}
                                                    {{/ifNotAll}}
                                                {{/each}}
                                            </select>                               
                                        </label>
                                    {{/if}}  
                                    {{#if isConfirmation}}
                                        {{#if statuses}}
                                            <label class="slds-form-element__control col-sm-3 slds-text-align--left">
                                                <span class="slds-form-element__helper">Action</span>
                                                <select class="slds-select" name="status" id="idStatus">
                                                    {{#each statuses}}
                                                        {{#isSelectedValue this.value ../../appt.requestedStatus}}
                                                            <option value="{{this.value}}" selected 
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isSelectedValue}}
                                                        {{#isNotSelectedValue this.value ../../appt.requestedStatus}}
                                                            <option value="{{this.value}}"  
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isNotSelectedValue}}   
                                                    {{/each}}                                 
                                                </select>
                                            </label>
                                        {{/if}}
                                    {{/if}}
                                    {{#isOperations appt.type}}
                                        {{#if statuses}}
                                            <label class="slds-form-element__control slds-text-align--left">
                                                <span class="slds-form-element__helper">Action</span>
                                                <select class="slds-select" name="status" id="idStatus">
                                                    {{#each statuses}}
                                                        {{#isSelectedValue this.value ../../appt.requestedStatus}}
                                                            <option value="{{this.value}}" selected 
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isSelectedValue}}
                                                        {{#isNotSelectedValue this.value ../../appt.requestedStatus}}
                                                            <option value="{{this.value}}"  
                                                                class="slds-picklist">{{this.label}}
                                                            </option>
                                                        {{/isNotSelectedValue}}   
                                                    {{/each}}                                 
                                                </select>
                                            </label>
                                        {{/if}}
                                    {{/isOperations}}
                                </div>
                            </div>
                        </fieldset>
                        {{#isOperations appt.type}}
                            <button type="button" class="slds-button slds-button--neutral" 
                                id="detailsCancelBtn">Cancel</button>
                            <button type="button" 
                                class="slds-button slds-button--neutral slds-button--brand" 
                                id="detailsSaveBtn">Save</button>
                        {{/isOperations}}
                        {{#isSales appt.type}}
                            <div class="slds-m-vertical--small">
                                <div class="slds-grid slds-grid--align-center">
                                    <div class="slds-container--center">
                                        <button type="button" class="slds-button slds-button--neutral" 
                                            id="detailsCancelBtn">Cancel</button>
                                        <button type="button" 
                                            class="slds-button slds-button--neutral slds-button--brand" 
                                            id="detailsSaveBtn">Save</button>
                                    </div>
                                </div>
                            </div>                        
                        {{/isSales}}
                    </form>
                </div>                     
            </div>
        </div>
        <div  id ="idBackdrop" class="slds-backdrop slds-backdrop--open"></div>
    </div>
    </script>
</apex:component>